/* CSS de CV */
body
{
	background: url("../img/Ville2.jpg") no-repeat fixed center;
}
#main
{
	text-align:center;
}
#main a:hover
{
	color:blue;
}
#h_main:hover
{
	opacity:70%;
}
#main2
{
	padding: 4.5em 3em 2em 3em ;
	background: #ffffff;
	border-radius: 4px;
	/*cursor: default;*/
	max-width: 100%;
	opacity: 0.95;
	position: relative;
	text-align: center;
	width: 20em;
	display: inline-block;
	margin-top:10em;
	/*transform: translate(0%, 25%);*/
}
#photo 
{
	max-width: 50%;
	max-height: 50%;
}
#main2 h1
{
	font-size: 200%;
}
.icons
{
	padding: 1em 0em 0em 0em;
}
.icons a
{
	text-decoration:none;
	color: grey;
}
#footer
{
	width: 100%;
	position: fixed;
    bottom: 0px;
}
#footer a
{
	font-style: italic;
	font-weight: bold;
	color: white;
	text-decoration:none;
}

/* Les règles de la page index pour recentrer le carré blanc... */
@media all and (max-height: 800px)
{
    #main2
	{
		margin-top:5em;
	}
}
@media all and (max-height: 600px)
{
    #main2
	{
		margin-top:1em;
	}
}
@media all and (max-height: 535px)
{
    #main2
	{
		margin-top:0em;
	}
	#footer
	{
		display:none;
	}
}